<h3>Count of Jobs by Level of Interest:</h3>

<%= Job.level_of_interest_by_job %>

<h3>Top Three Companies by Level of Interest:</h3>

<%= Job.level_of_interest_by_company %>

<h3>Count of Jobs by City:</h3>

<%= Job.count_by_city %>
