<div>
  <h6 class="created"><b>Comment created on</b> <%= comment.created_at %></h6>
  <p class="comment"><%= comment.body %></p>
  <p class="updated"><b>Updated on:</b> <%= comment.updated_at %></p>
</div>
